*{
    font-family: poppins;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
}

ul{
    
    text-align: right;
}
.list-item{
    /* justify-content: flex-start; */
    display: inline-block;
    list-style: none;
    margin-left: 0px;
    padding: 20px 50px;
    text-align: left;
    color: grey;
    /* font-family: ; */

}
.list-item:hover{
    
    font: bold;
    color: black;
    font-size: large;
}
button{
    background-color: #5955B3;
    color: aliceblue;
    border-radius: 15px;
    border: none;
    font-size: 15px;
    padding: 10px 30px;

}
button:hover{
    background-color: black;
}
.banner-container{
    display: flex;
}
.banner-container div{
    margin-left: 80px;
    text-align: left;
    font-size: 30px;
    /* flex: 2; */
}
.heading-text{
    font-weight: 600;
}
span{
    color: #5955B3;
}
.description{
    font-size: 20px;
    color: grey;
}
.btn{
    padding: 20px 50px;
    font-size: large;
}
.burger{
    display: none;
}
.image{
    width: 100%;
}

@media screen and (max-width:1200px) {
    .list-item{
        padding: 10px 20px;
    }
    
}
@media screen and (max-width:800px) {
    .list{
        display: none;
    }
    .banner-container{
        flex-direction: column-reverse;
        width: 100%;
    }
    
}